<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<img src="empathee.png" alt="logo" style="margin-left:300px;width:656px;height:192px;">
<br><br><br>

<form action="/" method="post">

  <textarea class= "center" id="message" name="message" type="text" value="" placeholder="Enter text to analyze feelings..."></textarea><br/>
  <input class= "center-button" onclick="seewaiting()" type="submit" value="Analyze"/>
</form>
<p id="phide"><big> emotions detected...</big> </p>

<div class="container">
  <div class="row">

<div class="col-md-2 col-md-offset-1"> <div id="happy"> </div> <p id="p1" class-"ptext"></p><p id="label1" class-"ptext">Happiness</p> </div>
<div class="col-md-2"><div id="sadness"></div>
<p id="p2" class-"ptext"></p><p id="label2" class-"ptext">Sadness</p>
</div>
<div class="col-md-2"><div id="anger"></div>
<p id="p3" class-"ptext"></p><p id="label3" class-"ptext">Anger</p>
</div>
<div class="col-md-2"><div id="disgust"></div>
<p id="p4" class-"ptext"></p><p id="label4" class-"ptext">Disgust</p>
</div>
<div class="col-md-2"><div id="fear"></div>
<p id="p5" class-"ptext"></p><p id="label5" class-"ptext">Fear</p>
</div>
</div>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.slim.js"
  integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
  crossorigin="anonymous"></script>


<script>  


  var showgraph = <%- JSON.stringify(show) %>;
  if(showgraph){
    $(".ptext").show();
    $("#phide").hide();
  }
  else{
    $("p").hide();
  }
  var joy = <%- JSON.stringify(joy) %>;
  var sadness = <%- JSON.stringify(sadness) %>;
  var anger = <%- JSON.stringify(anger) %>;
  var disgust = <%- JSON.stringify(disgust) %>;
  var fear = <%- JSON.stringify(fear) %>;
  var recordedtext = <%- JSON.stringify(recordedtext) %>;
  var fill_happy = 0;
  var fill_sadness = 0;
  var fill_anger = 0;
  var fill_disgust = 0;
  var fill_fear = 0;
    document.getElementById("p1").innerHTML=Math.round(joy*100)+"%";
    document.getElementById("p2").innerHTML=Math.round(sadness*100)+"%";
    document.getElementById("p3").innerHTML=Math.round(anger*100)+"%";
    document.getElementById("p4").innerHTML=Math.round(disgust*100)+"%";
    document.getElementById("p5").innerHTML=Math.round(fear*100)+"%";
    var text = "testing entering text into text box";
    if(recordedtext){
      document.getElementById("message").value=text;
    }

  function seewaiting(){
    $("#phide").show();
    console.log('success');
  }


    var update = setInterval(function() {
      fill_happy += 1;
      if (fill_happy <= joy*200) {
        $('#happy').css('height', (fill_happy+"px")); 
        } 
      else {
        clearInterval(update);        
      }
    }, 10);

    var update2 = setInterval(function() {
      fill_sadness += 1;
      if (fill_sadness <= sadness*200) {
        $('#sadness').css('height', (fill_sadness+"px")); 
        } 
      else {
        clearInterval(update2);        
      }
    }, 10);

    var update3 = setInterval(function() {
      fill_anger += 1;
      if (fill_anger <= anger*200) {
        $('#anger').css('height', (fill_anger+"px")); 
        } 
      else {
        clearInterval(update3);        
      }
    }, 10);

    var update4 = setInterval(function() {
      fill_disgust += 1;
      if (fill_disgust <= disgust*200) {
        $('#disgust').css('height', (fill_disgust+"px")); 
        } 
      else {
        clearInterval(update4);        
      }
    }, 10);

    var update5 = setInterval(function() {
      fill_fear += 1;
      if (fill_fear <= fear*200) {
        $('#fear').css('height', (fill_fear+"px")); 
        } 
      else {
        clearInterval(update5);        
      }
    }, 10);


    console.log(joy, sadness, anger, disgust, fear);

</script>
</html>

