body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#holdci {
	margin-top: 200px;
    overflow: hidden;
    width: 100px;
    height: 0;
    background-color: yellow;
    transform: rotatex(180deg);
    transform-origin: top;
}