body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff0000;
}


#phide{
	margin-left:550px; 
	margin-top:50px; 
	font-size: 20px
} 

#p1, #p2, #p3, #p4, #p5{
	position: absolute;
	z-index: 100;
	margin-top:110px;
	margin-left: 39px;
	font-size: 45px;
}
#label1{
	position: absolute;
	z-index: 100;
	margin-top:210px;
	margin-left: 38px;
}
#label2{
	position: absolute;
	z-index: 100;
	margin-top:210px;
	margin-left: 50px;
}
#label3{
	position: absolute;
	z-index: 100;
	margin-top:210px;
	margin-left: 58px;
}
#label4{
	position: absolute;
	z-index: 100;
	margin-top:210px;
	margin-left: 51px;
}
#label5{
	position: absolute;
	z-index: 100;
	margin-top:210px;
	margin-left: 63px;
}
#happy {
	margin-top: 200px;
    overflow: hidden;
    width: 150px;
    height: 1px;
    background-color: #FFFD7F;
    transform: rotatex(180deg);
    transform-origin: top;
    float:left;
}

#sadness {
  margin-top: 200px;
    overflow: hidden;
    width: 150px;
    height: 1px;
    background-color: #6E99F8;
    transform: rotatex(180deg);
    transform-origin: top;
    float: left
}

#anger {
  margin-top: 200px;
    overflow: hidden;
    width: 150px;
    height: 1px;
    background-color: #EE7198;
    transform: rotatex(180deg);
    transform-origin: top;
    float: left
}

#disgust {
  margin-top: 200px;
    overflow: hidden;
    width: 150px;
    height: 1px;
    background-color: #B1FB7B;
    transform: rotatex(180deg);
    transform-origin: top;
    float: left
}

#fear {
  margin-top: 200px;
    overflow: hidden;
    width: 150px;
    height: 1px;
    background-color: #B792C8;
    transform: rotatex(180deg);
    transform-origin: top;
    float: left
}

#circle{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}

textarea {
  width: 60%;
  height: 40%;
  font-size: 20px;
  border:2px solid #456879;
  border-radius:10px;

}

.center {
    margin-left: 250px;
    padding: 20px;
}

.center-button {
    margin-left: 600px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background: #BBE349;
    font-size: 15px;
    border-radius:10px;
}
}
